<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ssf_info" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sjogren's Syndrome Foundation</name>
    <description>
        Information app about Sjogren's.
    </description>
    <author email="mmmcgill@knox.edu" href="https://www.sjogrens.org/">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />

    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="cordova_plugins.js"></script>

    <plugin name="cordova-plugin-print-pdf" source="npm" />

    <plugin name="cordova-plugin-splashscreen" source="npm"/>

    <preference name="SplashScreenDelay" value="10000" />
    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="SplashScreen" value="Images/splash.png" /> 
    <preference name="SplashScreenDelay" value="3000" /> 
    <preference name="ShowSplashScreen" value="true" /> 
    <preference name="SplashScreenWidth" value="1080" /> 
    <preference name="SplashScreenHeight" value="1920" /> 
    <preference name="SplashScreen" value="splash" />
    

    <splash src="Images/splash.png" />
    <!-- <icon height="1920" platform="windows" src="www/Images/backarrow.png" width="1152" /> -->

    <platform name="android">
        <preference name="SplashScreen" value="splash" />
        <splash src="splash.png" density="land-ldpi"/>
        <splash src="splash.png" density="land-mdpi"/>
        <splash src="splash.png" density="land-hdpi"/>
        <splash src="splash.png" density="land-xhdpi"/>
        <splash src="splash.png" density="port-hdpi"/>
        <splash src="splash.png" density="port-ldpi"/>
        <splash src="splash.png" density="port-mdpi"/>
        <splash src="splash.png" density="port-xhdpi"/>
    </platform>
    
    <platform name="browser"> 
        <preference name="SplashScreen" value="Images/splash.png" /> 
        <preference name="SplashScreenDelay" value="3000" /> 
        <preference name="ShowSplashScreen" value="true" /> 
        <preference name="SplashScreenWidth" value="1080" /> 
        <preference name="SplashScreenHeight" value="1920" /> 
    </platform>

</widget>
