<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ssf_info" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sjogren's Syndrome Foundation</name>
    <description>
        Information app about Sjogren's.
    </description>
    <author email="mmmcgill@knox.edu" href="https://www.sjogrens.org/">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-print-pdf" source="npm">
</widget>
