<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.ssf_info" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Sjogren's Syndrome Foundation</name>
    <description>
        Information app about Sjogren's.
    </description>
    <author email="mmmcgill@knox.edu" href="https://www.sjogrens.org/">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-print-pdf" source="npm" />
    
    <plugin name="cordova-plugin-splashscreen" source="npm"/>

    <splash src="splash.png"/>

    <platform name="browser">
    <preference name="SplashScreen" value="splash.png" /> <!-- defaults to "/img/logo.png" -->
    <preference name="SplashScreenDelay" value="3000" /> <!-- defaults to "3000" -->
    <preference name="ShowSplashScreen" value="false" /> <!-- defaults to "true" -->
    <preference name="SplashScreenWidth" value="600" /> <!-- defaults to "170" -->
    <preference name="SplashScreenHeight" value="300" /> <!-- defaults to "200" -->
    <preference name="SplashShowOnlyFirstTime" value="true" />

</platform>

</widget>
