html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

.btn-group button {
    /*background-color: #0ccce8; /* Green background */
    /*border: 1px solid #004f82; /* Green border */
    /*color: white; /* White text */
    text-align: center;
    font-size: 120%;
    align-content: center;
    margin-top: 12%;
    margin-bottom: 12%;
    padding: 10px 10px; /* Some padding */
    width: 100%;/* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
    /*border-radius: 15%;*/
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
    -webkit-tap-highlight-color: transparent;
}

.btn-group{
    height: 60%;
    /*border: 20px solid red;*/
    align-items: center;
    /*position: absolute;*/
    /* position: fixed; */
    margin-top: 5%;
    margin-right: 8%;
    margin-left: 8%;
    /* border: black;
    border-style: solid; */
}

/* Nav bar*/
.w3-top{
    width: 100%;
    height: 7%;
    position: relative;
    /* left: -8%;  */
    background-color: #1796ff;
    color: rgb(0, 0, 0);
}

.info-title{
    height: 10%;
    margin-top: 12%;
    text-align: center;
}

.info-title h1{
    font-size: 250%;
}


.infomenu{
    height: 100%;
}

.contact{
    text-align: center;
    margin-top: 10%;
    margin-left: 3%;
}
.contact div{
    height: 100%;
}
.contact h2{
    font-size: 120%;
    position: relative;
    top: 1em;
    text-align: center;
}
.contact h1{
    font-size: 185%;
    text-align: center;
}
.contact p{
    font-size: 95%;
    text-align: center;
}

#tooltip
{
    text-align: center;
    color: #fff;
    background: #111;
    position: absolute;
    z-index: 100;
    padding: 15px;
}
 
    #tooltip:after /* triangle decoration */
    {
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid #111;
        content: '';
        position: absolute;
        left: 50%;
        bottom: -10px;
        margin-left: -10px;
    }
 
        #tooltip.top:after
        {
            border-top-color: transparent;
            border-bottom: 10px solid #111;
            top: -20px;
            bottom: auto;
        }
 
        #tooltip.left:after
        {
            left: 10px;
            margin: 0;
        }
 
        #tooltip.right:after
        {
            right: 10px;
            left: auto;
            margin: 0;
        }
